*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #ddd;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main1, .slider,.slider img,.nav,.nav ul,.nav ul li,.content{
    width: 100%
}
.main1,.slider,img,.nav ul, .nav ul li,.content{
    float: left;
    
}


.nav ul li a{
    text-shadow: 20% greenyellow;
    font-weight: bolder;
    display: block;
    background-color: grey;
    text-align: center;
    border-right: 1px solid #fff;
    transition: .5s;
}
.nav ul li a:hover{
    background-color: black;
    color: greenyellow;
    text-shadow: 10px 0px 10px greenyellow;
    box-shadow: 10px 0px 10px greenyellow;
}
.nav ul li a {

   text-decoration: none;
   color: white;
   line-height: 50px;
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.content h1{
    margin: 20px 40px;
    padding: 10px 0px;
    color: red;
    border-bottom: 8px solid red;
    width: 75%;
}
.content p{
    padding: 10px 30px;
}
.nav{
    position: fixed;
    top: 0px;
   
 
 }

@media screen and (max-width:900px){
    .nav{
        position: sticky;
        top: -215px;
    }
}

@media screen and (max-width:867px){
    .nav{
        position: sticky;
        top: -150px;
    }
}




