*{margin: 0px;
padding:0px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.logo {
    display: block;
    float: left;
}
.scroll{
    background: yellow;
}

.grid{
    
    background: red;
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    column-gap: 12px;
    row-gap: 12px;

}
.box{
    margin-top: 20px;
    background: cyan;
    /* height: 122px;
    width: 122px; */
}
/* row box................................................... */
.item1{
   grid-row-start:1;
   grid-row-end: 4;         
}
.item2{
   
    grid-column-start:2;
    grid-column-end: 4;  
    grid-row-start: 1;
    grid-row-end:4;
}
.item3{
    grid-row-start: 1;
    grid-row-end: 4;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;

}
